<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="PBEmlak" connectionString="datasource=remotemysql.com;port=3306;username=HIkAy8J7n8;password=epFjftE9gP;database=HIkAy8J7n8;" />
  </connectionStrings>
</configuration>